# Gestión de Errores
ErrorDocument 404 /404.html

# Allow access from all domains for webfonts.
# Alternatively you could only whitelist your
# subdomains like "subdomain.example.com".
<IfModule mod_headers.c>
  <FilesMatch "\.(ttf|ttc|otf|eot|woff|font.css|css)$">
    Header set Access-Control-Allow-Origin "*"
  </FilesMatch>
</IfModule>

RewriteEngine On
ErrorDocument 404 /404.html

# Quitar el www del nombre de dominio  
RewriteCond %{HTTP_HOST} ^www\.arquitectoit\.com$ [NC]  
RewriteRule ^(.*)$ https://arquitectoit.com/$1 [R=301,QSA,L]


<IfModule mod_rewrite.c>
RewriteEngine On

# Categorias
RedirectMatch 301 /categoria/redes-sociales/facebook/ /redes-sociales/
RedirectMatch 301 /categoria/redes-sociales/ /redes-sociales/
RedirectMatch 301 /categoria/navegadores/google-chrome/ /navegadores/
RedirectMatch 301 /categoria/gestores-de-videos/ /gestores-videos/
RedirectMatch 301 /categoria/buscadores/google-buscadores/ /buscadores/
RedirectMatch 301 /categoria/correo-electronico/gmail/ /correo-electronico/
RedirectMatch 301 /categoria/internet-basico/ /internet-basico/
RedirectMatch 301 /categoria/gestores-de-videos/youtube/ /gestores-videos/
RedirectMatch 301 /categoria/navegadores/ /navegadores/
RedirectMatch 301 /categoria/musica/spotify/ /musica/
RedirectMatch 301 /categoria/microblogging/twitter/ /redes-sociales/
RedirectMatch 301 /categoria/buscadores/ /buscadores/
RedirectMatch 301 /categoria/general/ /editorial/
RedirectMatch 301 /categoria/videos/ /gestores-videos/
RedirectMatch 301 /categoria/mapas/ /mapas/
# RedirectMatch 301 /categoria/diseno-web/
# RedirectMatch 301 /categoria/documentos/
RedirectMatch 301 /categoria/microblogging/ /redes-sociales/
RedirectMatch 301 /categoria/musica/ /musica/
RedirectMatch 301 /categoria/correo-electronico/ /correo-electronico/
RedirectMatch 301 /categoria/fotografia/flickr/ /fotografia/
RedirectMatch 301 /categoria/fotografia/picasa-web-albums/ /fotografia/
# RedirectMatch 301 /categoria/blogs/
# RedirectMatch 301 /categoria/calendarios-y-tareas/
RedirectMatch 301 /categoria/fotografia/ /fotografia/
RedirectMatch 301 /categoria/navegadores/safari-navegadores/ /navegadores/
RedirectMatch 301 /categoria/mensajeria-instantanea/ /mensajeria/
RedirectMatch 301 /categoria/buscadores/bing/ /buscadores/
RedirectMatch 301 /categoria/gestores-de-videos/windows-media-player/ /gestores-videos/
RedirectMatch 301 /categoria/microblogging/twubs/ /redes-sociales/
RedirectMatch 301 /categoria/buscadores/yahoo-buscadores/ /buscadores/
RedirectMatch 301 /categoria/fotografia/fotolog/ /fotografia/
RedirectMatch 301 /categoria/mapas/google-maps-mapas/ /mapas/


# Páginas
RedirectMatch 301 /microblogging/twitter/que-es-el-timeline-de-twitter/ /redes-sociales/que-es-el-timeline-de-twitter/
RedirectMatch 301 /fotografia/fotolog/que-es-fotolog/ /fotografia/que-es-fotolog/
RedirectMatch 301 /musica/spotify/buscar-una-playlist-spotify/ /musica/buscar-una-playlist-spotify/
RedirectMatch 301 /navegadores/abrir-enlace-en-una-pestana-con-google-chrome/attachment/control-click/ /navegadores/abrir-enlace-en-una-pestana-con-google-chrome/
RedirectMatch 301 /navegadores/atajo-para-guardar-un-enlace-con-google-chrome/attachment/alt-click/ /navegadores/atajo-para-guardar-un-enlace-con-google-chrome/
RedirectMatch 301 /redes-sociales/facebook/privacidad-grupo-facebook/ /redes-sociales/privacidad-grupo-facebook/
RedirectMatch 301 /microblogging/twitter/que-es-twitter/ /redes-sociales/que-es-twitter/
RedirectMatch 301 /microblogging/twitter/crear-un-hashtag-en-twitter/ /redes-sociales/crear-un-hashtag-en-twitter/
RedirectMatch 301 /microblogging/twitter/que-son-los-followers-de-twitter/ /redes-sociales/que-son-los-followers-de-twitter/
RedirectMatch 301 /microblogging/twitter/darse-de-alta-en-twitter/ /redes-sociales/darse-de-alta-en-twitter/
RedirectMatch 301 /microblogging/twitter/que-es-retweet-en-twitter/ /redes-sociales/que-es-retweet-en-twitter/
RedirectMatch 301 /microblogging/que-es-el-timeline-de-twitter/ /redes-sociales/que-es-el-timeline-de-twitter/
RedirectMatch 301 /microblogging/que-es-twitter/ /redes-sociales/que-es-twitter/
RedirectMatch 301 /microblogging/twitter/foto-perfil-de-twitter/ /redes-sociales/foto-perfil-de-twitter/
RedirectMatch 301 /microblogging/twitter/foto-cabecera-en-twitter/ /redes-sociales/foto-cabecera-en-twitter/
RedirectMatch 301 /microblogging/twitter/que-es-un-tweet/ /redes-sociales/que-es-un-tweet/
RedirectMatch 301 /microblogging/que-es-twubs/ /redes-sociales/que-es-twubs/
RedirectMatch 301 /microblogging/que-es-seesmic/ /redes-sociales/que-es-seesmic/
RedirectMatch 301 /redes-sociales/recuperar-la-contrasena-en-hi5com/ /redes-sociales/recuperar-la-contrasena-en-hi5/
RedirectMatch 301 /redes-sociales/que-es-hi5com/ /redes-sociales/que-es-hi5/
RedirectMatch 301 /redes-sociales/url-personal-en-hi5com/ /redes-sociales/url-personal-en-hi5/
RedirectMatch 301 /redes-sociales/fondo-de-pantalla-en-hi5com/ /redes-sociales/fondo-de-pantalla-en-hi5/
RedirectMatch 301 /redes-sociales/darse-de-alta-en-hi5com/ /redes-sociales/darse-de-alta-en-hi5/
RedirectMatch 301 /redes-sociales/personalizar-el-puntero-o-cursor-en-hi5com/ /redes-sociales/personalizar-el-puntero-o-cursor-en-hi5/
RedirectMatch 301 /redes-sociales/poner-tu-foto-en-hi5com/ /redes-sociales/poner-tu-foto-en-hi5/
RedirectMatch 301 /correo-electronico/gmail/que-es-gmail/ /correo-electronico/que-es-gmail/
RedirectMatch 301 /microblogging/enviar-un-mensaje-a-un-usuario-de-twitter/ /redes-sociales/enviar-un-mensaje-a-un-usuario-de-twitter/
RedirectMatch 301 /microblogging/que-es-un-tweet/ /redes-sociales/que-es-un-tweet/


# /correo-electronico/gmail/cuenta-de-gmail-con-varios-usuarios/
# /correo-electronico/gmail/utilizar-gmail-como-cliente-de-email-en-firefox/
# /correo-electronico/enviar-un-email-con-gmail/
# /correo-electronico/gmail/enviar-un-email-con-gmail/
# /correo-electronico/gmail/importar-correos-y-contactos-a-gmail/
# /correo-electronico/gmail/ocultar-etiquetas-en-gmail/


# Tags
# RedirectMatch 301 /etiqueta/recuperar/
RedirectMatch 301 /etiqueta/contrasena/ /tags/#contraseña
# RedirectMatch 301 /etiqueta/nombre-usuario/
RedirectMatch 301 /etiqueta/email/ /tags/#email
# RedirectMatch 301 /etiqueta/telefono/
# RedirectMatch 301 /etiqueta/amigo/
RedirectMatch 301 /etiqueta/omnibox/ /tags/#omnibox
# RedirectMatch 301 /etiqueta/facebook-privacidad/
RedirectMatch 301 /etiqueta/internet-basico-url/ /tags/#url
RedirectMatch 301 /etiqueta/url/ /tags/#url
# RedirectMatch 301 /etiqueta/area-de-trabajo/
RedirectMatch 301 /etiqueta/facebook-grupos/ /tags/#facebook
# RedirectMatch 301 /etiqueta/usuario/
# RedirectMatch 301 /etiqueta/actualizar/
# RedirectMatch 301 /etiqueta/barra-de-direcciones/
# RedirectMatch 301 /etiqueta/google-chrome-formularios/
RedirectMatch 301 /etiqueta/facebook-album/ /tags/#album-fotos
RedirectMatch 301 /etiqueta/navegador/ /tags/#navegadores
# RedirectMatch 301 /etiqueta/barra-de-busqueda/
# RedirectMatch 301 /etiqueta/barra-de-herramientas/
# RedirectMatch 301 /etiqueta/barra-de-navegacion/
# RedirectMatch 301 /etiqueta/barra-de-titulo/
# RedirectMatch 301 /etiqueta/facebook-ubicacion/
RedirectMatch 301 /etiqueta/fotografia/ /tags/#fotografias
RedirectMatch 301 /etiqueta/videos/ /tags/video
# RedirectMatch 301 /etiqueta/facebook-compartir/
RedirectMatch 301 /etiqueta/favoritos/ /tags/#favoritos
# RedirectMatch 301 /etiqueta/marcadores/
# RedirectMatch 301 /etiqueta/pagina-de-inicio/
RedirectMatch 301 /etiqueta/pestanas/ /tags/#pestañas
# RedirectMatch 301 /etiqueta/speed-dial/
# RedirectMatch 301 /etiqueta/subir/
RedirectMatch 301 /etiqueta/youtube-lista/ /tags/#youtube


</IfModule>

