# Gestión de Errores
ErrorDocument 404 /404.html

# Allow access from all domains for webfonts.
# Alternatively you could only whitelist your
# subdomains like "subdomain.example.com".
<IfModule mod_headers.c>
  <FilesMatch "\.(ttf|ttc|otf|eot|woff|font.css|css)$">
    Header set Access-Control-Allow-Origin "*"
  </FilesMatch>
</IfModule>

RewriteEngine On
ErrorDocument 404 /404.html

# Quitar el www del nombre de dominio  
RewriteCond %{HTTP_HOST} ^www\.arquitectoit\.com$ [NC]  
RewriteRule ^(.*)$ https://arquitectoit.com/$1 [R=301,QSA,L]


<IfModule mod_rewrite.c>
RewriteEngine On
RedirectMatch 301 /microblogging/twitter/que-es-el-timeline-de-twitter/ /redes-sociales/que-es-el-timeline-de-twitter/
RedirectMatch 301 /fotografia/fotolog/que-es-fotolog/ /fotografia/que-es-fotolog/
RedirectMatch 301 /musica/spotify/buscar-una-playlist-spotify/ /musica/buscar-una-playlist-spotify/
RedirectMatch 301 /categoria/redes-sociales/facebook/ /redes-sociales/


/categoria/redes-sociales/
/categoria/navegadores/google-chrome/
/categoria/gestores-de-videos/
/etiqueta/recuperar/
/categoria/buscadores/google-buscadores/
/categoria/correo-electronico/gmail/
/categoria/internet-basico/
/etiqueta/contrasena/
/categoria/gestores-de-videos/youtube/
/categoria/navegadores/
/categoria/musica/spotify/
/categoria/microblogging/twitter/
/categoria/buscadores/
/categoria/general/
/categoria/videos/
/categoria/mapas/
/categoria/diseno-web/
/categoria/documentos/
/categoria/microblogging/
/categoria/musica/
/categoria/correo-electronico/
/categoria/fotografia/flickr/
/categoria/fotografia/picasa-web-albums/
/categoria/blogs/
/categoria/calendarios-y-tareas/
/categoria/fotografia/
/categoria/navegadores/safari-navegadores/
/categoria/mensajeria-instantanea/
/categoria/buscadores/bing/
/categoria/gestores-de-videos/windows-media-player/
/categoria/microblogging/twubs/
/categoria/buscadores/yahoo-buscadores/
/categoria/fotografia/fotolog/
/categoria/mapas/google-maps-mapas/
/etiqueta/nombre-usuario/
/etiqueta/email/
/etiqueta/telefono/
/etiqueta/amigo/
/etiqueta/omnibox/
/etiqueta/facebook-privacidad/
/etiqueta/internet-basico-url/
/etiqueta/url/
/etiqueta/area-de-trabajo/
/etiqueta/facebook-grupos/
/etiqueta/usuario/
/etiqueta/actualizar/
/etiqueta/barra-de-direcciones/
/etiqueta/google-chrome-formularios/
/etiqueta/facebook-album/
/etiqueta/navegador/
/etiqueta/barra-de-busqueda/
/etiqueta/barra-de-herramientas/
/etiqueta/barra-de-navegacion/
/etiqueta/barra-de-titulo/
/etiqueta/facebook-ubicacion/
/etiqueta/fotografia/
/etiqueta/videos/
/etiqueta/facebook-compartir/
/etiqueta/favoritos/
/etiqueta/marcadores/
/etiqueta/pagina-de-inicio/
/etiqueta/pestanas/
/etiqueta/speed-dial/
/etiqueta/subir/
/etiqueta/youtube-lista/

/404.html

RedirectMatch 301 /navegadores/abrir-enlace-en-una-pestana-con-google-chrome/attachment/control-click/ /navegadores/abrir-enlace-en-una-pestana-con-google-chrome/
RedirectMatch 301 /navegadores/atajo-para-guardar-un-enlace-con-google-chrome/attachment/alt-click/ /navegadores/atajo-para-guardar-un-enlace-con-google-chrome/




</IfModule>