<!-- start custom footer snippets -->

<div class="footerinfo">
	<ul>
{% for link in site.data.footer-navigation %}
	<li><a href="{{ link.url }}">{{ link.title }}</a></li>
{% endfor %}
	</ul>
</div>

<div id ="footerwebs" class="footerinfo">
	
	<ul>
		<li><strong>Nuestras Webs</strong></li>
{% for link in site.data.webs-navigation %}
	<li><a href="{{ link.url }}">{{ link.title }}</a></li>
{% endfor %}
	</ul>
</div>

<!-- Quantcast Tag -->
<script type="text/javascript">
window._qevents = window._qevents || [];

(function() {
var elem = document.createElement('script');
elem.src = (document.location.protocol == "https:" ? "https://secure" : "http://edge") + ".quantserve.com/quant.js";
elem.async = true;
elem.type = "text/javascript";
var scpt = document.getElementsByTagName('script')[0];
scpt.parentNode.insertBefore(elem, scpt);
})();

window._qevents.push({
qacct:"p-knm0wT4nPkBNf",
uid:"web@ayudaenlaweb.com"
});
</script>

<noscript>
<div style="display:none;">
<img src="//pixel.quantserve.com/pixel/p-knm0wT4nPkBNf.gif" border="0" height="1" width="1" alt="Quantcast"/>
</div>
</noscript>
<!-- End Quantcast tag -->

<!-- end custom footer snippets -->
