<time class="page-date dt-published" datetime="{{ page.date | date_to_xmlschema }}">
  {%- assign date_format = site.date_format | default: "%B %-d, %Y" -%}
  <a class="u-url" href="{{ entry.url | relative_url }}">{% include date-es.html date=page.date %}</a>
</time>

{%- assign dinicio = page.date | date_to_xmlschema -%}
{%- assign dfin = page.last_modified_at | date_to_xmlschema -%}

{% if dinicio != dfin %}
Actualizado
<time class="page-date dt-published" datetime="{{ page.date | date_to_xmlschema }}">
  <a class="u-url" href="{{ entry.url | relative_url }}">{% include date-es.html date=page.last_modified_at %}</a>
</time>
{% endif %}